<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>feedback</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<body>
<form method="post">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入评分(0-10)"
               aria-label="Recipient's username" name="score"
               aria-describedby="button-addon2">
        <input type="text" class="form-control" placeholder="请输入反馈信息"
               aria-label="Recipient's username" name="feedback"
               aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">提交</button>
        </div>
    </div>
</form>
</body>
</html>
